version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=jurnal_user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=trading_db
    ports:
      - "5432:5432"
